<form action="/payment/results">
 <label for="monkey">APR</label>
 <input id="monkey" type="text" placeholder="E.G. 5.42"name="apr">

 <label for="bee">Number of years</label>
 <input id="bee" type="text" placeholder="How many years to repay?"name="num_years">

 <label for="seal">Principal</label>
 <input id="seal" type="text" placeholder="How much principal?"name="principal">


 <button>Calculate monthly payment</button>
</form>
