<form action="/payment/results">
 <label for="walrus">APR</label>
 <input id="walrus" type="text" placeholder="E.G. 5.42"name="elephant">

 <label for="walrus">Number of years</label>
 <input id="walrus" type="text" placeholder="How many years to rep"name="elephant">

 <label for="walrus">Principal</label>
 <input id="walrus" type="text" placeholder="How much principal?"name="elephant">

 <button>Calculate monthly payment</button>
</form>
