<form action="/random/results">
 <label for="monkey">Minimum</label>
 <input id="monkey" type="text" placeholder="E.g. 1.5" name="user_min">

 <label for="monkey">Maximum</label>
 <input id="monkey" type="text" placeholder="E.g. 4.5" name="user_max">

 <button>Pick random number</button>
</form>
