<form action="/square_root/results">
 <label for="monkey">Enter a number</label>
 <input id="monkey" type="text" placeholder="What number do you want the square root of?" name="user_number">

 <button>Calculate square root</button>
</form>
